= turbo_frame_tag 'task-modal' do
  .modal.bg-dark.bg-opacity-50{ data: { controller: 'modal', modal_target: 'backGround', action: "click->modal#closeBackground" } }
    .modal-dialog.modal-dialog-centered.modal-xl

      .modal-content
        .modal-header
          = link_to '', root_path(type: @type), data: { turbo_frame: 'tasks-list', modal_target: 'rootLink', action: 'click->modal#closeModal' }, class: 'btn-close'

        .modal-body
          = render 'task_detail', task: @task

          = link_to '削除', task_path(@task, type: @type), data: { turbo_frame: '_top', turbo_method: :delete, turbo_confirm: 'タスクを削除しますか？' }
