= turbo_stream.replace 'filter' do 
  = render 'filter', type: @type

= turbo_stream.replace 'tasks_list' do
  = render 'tasks_list', type: @type, uncompleted_tasks: @uncompleted_tasks, completed_tasks: @completed_tasks
