// 変数

// Colors
$color-primary: #456fe8;
$color-primary-thin: #6c92ff;

// Colors - Text
$color-t-primary: #1a1a1a;
$color-t-gray: #666;
$color-t-thin: #888;

// Border
$border-default: 1px solid #dee2e6;

// Font Sizes
$font-base: 16px;
