// container
.container {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 8px #0000000a;
  max-width: 100%;
}

.tasks_list_container {
  margin-bottom: 30px;
}

.new_task_container {
  position: sticky;
  bottom: 25px;
  padding: 1rem 2rem;
}
