// editページ
@use '../base/variables' as var;
@use '../base/mixins' as mix;

// エラーメッセージ
.error_messages {
  margin-bottom: 1rem;
  color: var.$color-t-gray;
}

// 編集フォーム
.form_label {
  @include mix.form_label;
}

.input_title {
  @include mix.form_input;
  width: 100%;
}

.input_deadline {
  @include mix.form_input;
  max-width: 100%;
  padding: 0.5rem;
}

.input_memo {
  @include mix.form_input;
  min-height: 100px;
  resize: vertical;
  width: 100%;
}

.form_submit {
  @include mix.circular_btn;
  display: block;
  border-radius: 8px;
  border-color: var.$color-primary-thin;
  margin: 0 3rem 0 auto;
  font-weight: 500;
  color: var.$color-primary-thin;
  transition: background-color 0.3s,
              color 0.3s;

  &:hover {
    background: #f2f6ff;
    color: var.$color-primary-thin;
    border-color: var.$color-primary-thin;
  }

  &:active {
    background: var.$color-primary-thin;
    color: #fff;
    border-color: var.$color-primary-thin;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    border: var.$border-default;
    background: #fff;
    color: var.$color-t-thin
  }
}

// 削除
.task_delete {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  padding: 6px;
}

.modal_delete_icon {
  @include mix.delete_icon;
  font-size: 1.3rem;
}
