// indexページ
@use '../base/variables' as var;
@use '../base/mixins' as mix;

// アクション
.index_action {
  @include mix.df-sb-c-g;
  gap: 0.6rem;
  margin-bottom: 0.6rem;
}

.filter_list {
  @include mix.df-s-c-g;
  gap: 0.6rem;
}

.filter_item {
  @include mix.circular_btn;
  box-shadow: var.$box-shadow;
  transition: background-color 0.3s;

  a {
    color: var.$color-t-gray;
  }

  &:hover {
    border: var.$border-default;
    background: var.$color-bg-hv;
  }

  &.-active {
    background: var.$color-primary-thin;
    a {
      color: #fff;
      font-weight: 500;
    }
  }
}

.bulk_action_btn {
  @include mix.circular_btn;
  box-shadow: var.$box-shadow;

  &:hover {
    background: var.$color-bg-hv;
    border: var.$border-default;
    color: var.$color-t-gray;
  }

  &:first-child:active {
    background: #fff;
    border-color:  var.$color-primary-thin;
    color:  var.$color-primary-thin;
  }
}

.bulk_action_btn.show {
  background: var.$color-primary-thin;
  color: #fff;
  font-weight: 500;
}

.dropdown-item {
  color: #666;
  font-size: var.$font-sm;

  &:hover {
    color: var.$color-t-primary
  }

  &:active {
    background: #fff;
    color: var.$color-primary;
  }
}

// タスクリスト
.uncompleted_task_list {
  margin-bottom: 1.5rem;
}

.completed_task_top {
  @include mix.df-s-c-g;
  margin-bottom: 0.5rem;
  gap: 0.6rem;
  color: var.$color-t-gray
}

.delete_icon {
  @include mix.delete_icon;
}

// タスクカード
.task_card {
  @include mix.df-s-c-g;
  padding: 0.5rem 1rem;
  border: var.$border-default;
  border-radius: 8px;
  transition: background-color 0.3s;

  &:hover {
    background: var.$color-bg-hv;
  }
}

.form-check-input {
  &:focus {
    border: 1px solid rgb(222, 226, 230);
    outline: unset;
    box-shadow: none;
  }

  &:checked {
    background-color: var.$color-primary;
    border-color: var.$color-primary;
  }
}

.task_content {
  flex: 1;
  @include mix.df-sb-c-g;

  &_deadline {
    flex: none;
    color: var.$color-t-thin;
  }
}

// 新規作成
.new_task_form {
  @include mix.df-s-c-g;
}

.new_task_input {
  outline: none;
  border: none;
  caret-color: #888;
  width: stretch;

  &:focus {
    border: none;
  }
}
